---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import AvatarComponent from '@/components/ui/avatar'
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import gorilla from '@/images/gorilla.jpg'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <Card>
        <CardHeader>
          <div class="flex gap-4">
            <AvatarComponent
              client:load
              src="/static/gorilla.jpg"
              fallback="CI"
              alt={'Gorilla'}
              className="size-16 rounded-full"
            />
            <div>
              <CardTitle className="text-3xl">
                `<span class="font-light">im</span> ·
                <span class="font-semibold">peech</span> ·
                <span class="font-light">ih</span> ·
                <span class="font-semibold">kay</span>
              </CardTitle>
              <CardDescription>
                It's ok. I don't speak <span class="font-semibold">Italian</span> either
              </CardDescription>
            </div>
          </div>

        </CardHeader>
        <CardContent>
          <div class="flex flex-col gap-2">
            <!-- <section>
            </section> -->
            <section>
              <Badge showHash={false}>Software Engineer</Badge>
              <Badge variant="secondary" showHash={false}>Game Dev</Badge>
              <Badge variant="secondary" showHash={false}>Filmmaker</Badge>
              <Badge variant="secondary" showHash={false}>Visual Artist</Badge>
            </section>
            <section>
              <Badge variant="outline" showHash={false}>Cooking</Badge>
              <Badge variant="outline" showHash={false}>Reading</Badge>
              <Badge variant="outline" showHash={false}>Gaming</Badge>
              <Badge variant="outline" showHash={false}>D&D</Badge>
            </section>
          </div>
        </CardContent>
      </Card>
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
